.navbar {
    
    /* width: 100px;
  height: 200px; */
    /* margin: 25px 0 25px 25px; */
    /* border-radius: 5px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    font-family: sans-serif; */
  }
  
  .navbar:nth-child(1) { background: cornflowerblue; }
  .navbar:nth-child(2) { background: salmon; }
  .navbar:nth-child(3) { background: gray; }
  
  /**
   * The "shine" element
   */
  
  .navbar:after {
    
    animation: shine 7s ease-in-out  infinite;
    animation-fill-mode: inherit;  
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 270%;
    height: 200%;
    opacity: 0;
    transform: rotate(91deg);
    
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%
    );
  }
  
  /* Hover state - trigger effect */
  
  
  /* Active state */
  
  .navbar:active:after {
    opacity: 0;
  }
  
  @keyframes shine{
    10% {
      opacity: 0.5;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-timing-function: ease;
    }
    100% {
      opacity: 0;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
    }
  }